.nav-menu-items a:hover,
.nav-menu-items a:focus {
    color: #7BB74A;
}

@media only screen and (min-width: 1px) {

    .nav-menu-items {
        display: flex;
        width: 40%;
        max-width: 400px;
        min-width: 300px;
        justify-content: space-between;
        align-items: center;
        margin-right: 2rem;
    }

    .nav-menu-items a {
        text-decoration: none;
        color: white;
        font-family: norse;
        font-size: 2rem;
    }

}